@import '../theme/vars';

.Author {
  flex: 1 0 auto;
  display: flex;

  @include media('<tablet') {
    flex-direction: column;
  }
}

.Author-content {
  @include media('<tablet') {
    flex: 1 0 auto;
  }
}
