@import '../theme/vars';
@import '../theme/font';

$EngagementLink-size-icon: 25px;

.EngagementLink {
  @include font-properties(subvisual, small);

  display: inline-flex;

  color: $Theme-color-white;

  font-weight: $Theme-typography-fontWeight-bold;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}

.EngagementLink-icon {
  width: $EngagementLink-size-icon;
  height: $EngagementLink-size-icon;
  margin-left: $Theme-spacing-small;
}
