$Hero-min-height: 300px;
$Hero--tag-bg-color: #8db6cd;

.Hero {
  background-color: $Color-catskillWhite;

  @include media('>=tablet') {
    min-height: $Hero-min-height;
  }
}

.Hero.Hero--tag,
.Hero.Hero--author {
  background-color: $Hero--tag-bg-color;
}

@each $tag, $color in $Theme-tags-color {
  .Hero.Hero--#{$tag} {
    background-color: $color;
  }
}
