@import "../theme/vars";

.PostIntro-heading {
  @include font-properties(heading, veryLarge, $Theme-font-sizes-extra);
}

.PostIntro-link {
  color: $Theme-color-limedSpruce;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.PostIntro-endLine {
  display: block;
  width: 100%;
  height: 1px;

  background-color: rgba(#b5c9d6, 0.25);
}

.PostIntro:last-child .PostIntro-endLine {
  display: none;
}
